<!-- BACKGROUND IMG TEXT SECTION START-->
<section class="bg-text"
    style="background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0 / 48%)),url(assets/img/loading-gears-animated-gif-9.gif);">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h3 class="mb-3 title_heading white">Find your space converting</h3>
            <p class="white">We provide wide range of multifunctional furniture in different settings. We offer creative
                and innovative ideas using convertible furniture for maximum space saving. </p>
            <p class="white">Logistic support offered by our engineering team will help you to create great designs
                which will give a feeling of luxury and true comfort.</p>
            <a class="btn-1 pt-3 pb-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">Get Started</a>
            <div class="collapse mt-4 p-3" id="collapseExample">
                <div class="card card-body bg-expand-form col-md-6">
                    <app-enquiry></app-enquiry>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- BACKGROUND IMG TEXT SECTION END-->