<!-- BACKGROUND IMG TEXT SECTION START-->
<section class="bg-text"
    style="width: 100%;background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0 / 48%)),url(assets/img/gear.gif);">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h3 class="mb-3 title_heading white">Find your space converting</h3>
            <p class="white">We provide wide range of multifunctional furniture in different settings. We offer creative
                and innovative ideas using convertible furniture for maximum space saving. </p>
            <p class="white">Logistic support offered by our engineering team will help you to create great designs
                which will give a feeling of luxury and true comfort.</p>
            <a class="btn-1 pt-3 pb-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">Get Started</a>
            <div class="collapse mt-4 p-3" id="collapseExample">
                <div class="card card-body bg-expand-form col-md-6">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" placeholder="Name"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" placeholder="City"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="email" placeholder="Email"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" type="text" placeholder="Contact Number"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" type="text" placeholder="OTP"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" type="text" placeholder="Message"
                                    aria-label="default input example">
                            </div>

                            <div class="text-center mt-3">
                                <a class="btn-1 pt-3 pb-3 col-md-3 text-center">Send</a>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- BACKGROUND IMG TEXT SECTION END-->