.navbar-light .navbar-nav .nav-link
{
    color: #EA4434 !important;
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: #EA4434;
    text-decoration: none;
}
li.nav-item a {
    font-family: 'Poppins';
    font-size: 18px;
}
li.nav-item.btn-1 a {
    color: white !important;
}


.navbar-brand {
    color: #fff !important;
    font-family: monospace;
    text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
}

img.logo {
    width: 160px;
}
nav {
    z-index: 999;
}