<nav class="navbar navbar-expand-lg navbar-light m-2">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><img src="assets/img/FurnicultureLogo.png" class="logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="home">Home</a> 
                    <!-- [routerLinkActiveOptions]="{exact:true}" -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="active-link">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="productadservices" routerLinkActive="active-link">Product & Services</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Designer's Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Customized</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="career" routerLinkActive="active-link">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>