<section class="section">
    <div class="container card-box">
        <div class="content p-5">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">3/164, Mandideep, Bhopal </div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+9352412345</div>
                </div>
                <div class="email details">
                    <i class="fa fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">vikramj@furnicultureindia.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send us a message</div>
                <p>We would love to talk you, please submit you enquiry to be in touch </p>
            
                <form action="#" class="row">
                    <div class="input-box col-md-6">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input-box col-md-6">
                        <input type="text" placeholder="City">
                    </div>
                    <div class="input-box col-md-6">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input-box col-md-6">
                        <input type="text" placeholder="Mobile No">
                    </div>
                    <div class="input-box col-md-6">
                        <input type="text" placeholder="OTP">
                    </div>

                    <div class="input-box col-md-6">
                        <input type="text" placeholder="Message">
                    </div>

                    <div class="button">
                        <input type="button" value="Send Now">
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>