<section class="section">
    <div class="container card-box">
        <div class="content p-5">
            <div class="left-side">
                <div class="email details">
                    <i class="fa fa-globe"></i>
                    <div class="topic">Country</div>
                    <div class="text-one">India</div>
                </div>
                <div class="address details">
                    <i class="fa fa-address-card"></i>
                    <div class="topic">Cities</div>
                    <div class="text-one">Jaipur, Indore, Ahemdabad, Noida, Mumbai, Navi Mumbai, New Delhi, Bhopal, Indore</div>
                </div>
                <div class="phone details">
                    <i class="fa fa-phone-square"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 93524 12345</div>
                </div>
                <div class="email details">
                    <i class="fa fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">vikramj@furnicultureindia.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send us a message</div>
                <p>We would love to talk you, please submit you enquiry to be in touch </p>
            
                <app-enquiry [moduleName]="pageName"></app-enquiry>
            </div>
        </div>
    </div>

</section>