<section id="career" class="section">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3 class="title_heading mb-3">Careers</h3>
                    <p>Career with Furniculture could be your best move, till now</p>
                    <p>Wish to join our team? If yes, just drop us an email at <a href="mailto: vikramJ@furnicultureindia.com">vikramJ@furnicultureindia.com.</a><br />
                    Don’t forget to attach your resume and work portfolio. We would be delighted to hear from you and
                        have you work with us! See you!
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center align-items-center mt-4">
            <div class="col-md-3">
                <div class="card-box">
                    <img src="assets/img/statistics.png" class="pb-2">
                    <h3>Fastest growing company in the sector </h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <img src="assets/img/workforce.png" class="pb-2">
                    <h3>Corporate Functioning, Professional management</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <img src="assets/img/market.png" class="pb-2">
                    <h3>Performance based growth opportunities</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <img src="assets/img/carving.png" class="pb-2">
                    <h3>Wood -working and technical designs sector’s growth is phenomenal</h3>
                </div>
            </div>
        </div>
    </div>
</section>