<section class="section" id="testimonial">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-md-4">
                <div class="section-heading">
                    <h3 class="title_heading mb-3">Testimonial</h3>
                    <!-- <p>Start shopping based on the categories you are interested in</p> -->
                </div>
            </div>

            <div class="col-md-8">
                <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="slidetestimonial">
                    <div ngxSlickItem class="snip1157 col">
                        <blockquote>I am very happy with the responsiveness and professionalism of the Furniculture
                            team.
                            They are honest, straight forward and deliver what they promise.
                            I will be happy to buy from Furniculture if I have to purchase more
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg"
                            alt="sq-sample3" />
                        <div class="author">
                            <h5>Niket Patel, Ahmedabad <span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                    <div ngxSlickItem class="snip1157 hover col">
                        <blockquote>I love the designs and way their supplied furniture is converting and moving, highly recommended
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg"
                            alt="sq-sample27" />
                        <div class="author">
                            <h5>Shailnedra Goel, Noida<span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                    <div ngxSlickItem class="snip1157 col">
                        <blockquote>I was looking for a quality, stylish furniture that I found my perfect home with Furniculture. 
                            This All solid wood are heavier, and super comfortable. 
                            This was an excellent purchase
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg"
                            alt="sq-sample17" />
                        <div class="author">
                            <h5>Clive Young, UK<span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>