<section class="section" id="testimonial">
    <div class="container">
        <div class="row text-center align-items-center">     
            <div class="col-md-4">
                <div class="section-heading">
                    <h3 class="title_heading mb-3">Shop by Categories</h3>
                    <p>Start shopping based on the categories you are interested in</p>
                </div>
            </div>      
          
            <div class="col-md-8">
                <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="slidetestimonial">
                    <div ngxSlickItem class="snip1157 col">
                        <blockquote>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I
                            wonder why we think faster than we speak. Hobbes: Probably so we can think twice.
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                        <div class="author">
                            <h5>Pelican Steve <span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                    <div ngxSlickItem class="snip1157 hover col">
                        <blockquote>Thank you. before I begin, I'd like everyone to notice that my report is in a professional,
                            clear plastic binder...When a report looks this good, you know it'll get an A. That's a tip kids.
                            Write it down.
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg" alt="sq-sample27" />
                        <div class="author">
                            <h5>Max Conversion<span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                    <div ngxSlickItem class="snip1157 col">
                        <blockquote>My behaviour is addictive functioning in a disease process of toxic co-dependency. I need
                            holistic healing and wellness before I'll accept any responsibility for my actions.
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
                        <div class="author">
                            <h5>Eleanor Faint<span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                    <div ngxSlickItem class="snip1157 col">
                        <blockquote>My behaviour is addictive functioning in a disease process of toxic co-dependency. I need
                            holistic healing and wellness before I'll accept any responsibility for my actions.
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
                        <div class="author">
                            <h5>Eleanor Faint<span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                    <div ngxSlickItem class="snip1157 col">
                        <blockquote>My behaviour is addictive functioning in a disease process of toxic co-dependency. I need
                            holistic healing and wellness before I'll accept any responsibility for my actions.
                            <div class="arrow"></div>
                        </blockquote>
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
                        <div class="author">
                            <h5>Eleanor Faint<span> LIttleSnippets.net</span></h5>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
       
        </div>
    </div>
</section>