<!-- ***** Main Banner Area Start ***** -->
<section class="top-banner">
    <div class="container-fluid">
        <div class="row">
            <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="slide">
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0)),url(assets/img/hom1.jpeg);">
                    <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p>
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0)),url(assets/img/home2.jpeg);">
                    <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p>
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0)),url(assets/img/home3.jpeg);">
                    <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p>
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0)),url(assets/img/home4.jpeg);">
                    <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p>
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>


<!-- ***** Main Banner Area End ***** -->

