<!-- ***** Main Banner Area Start ***** -->
<section class="top-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-content">
                    <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p>
                    <a class="btn-1 pt-3 pb-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Main Banner Area End ***** -->