<!-- ***** Main Banner Area Start ***** -->
<section class="top-banner">
    <div class="container-fluid">
        <div class="row" style="position:relative">
            <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="slide">
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 30%), rgb(0 ,0, 0,0.16)),url(assets/img/hom1.jpeg);">
                    <!-- <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p> -->
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 30%), rgba(0, 0, 0, 0.16)),url(assets/img/home2.jpeg);">
                    <!-- <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p> -->
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 30%), rgb(0 ,0, 0,0.16)),url(assets/img/home3.jpeg);">
                    <!-- <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p> -->
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
                <div ngxSlickItem class="banner-content" style=" background-image: linear-gradient(to bottom, rgb(0 0 0 / 30%), rgb(0 ,0, 0,0.16)),url(assets/img/home4.jpeg);">
                    <!-- <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture in India</p> -->
                    <!-- <a class="btn-1 pt-3 pb-3">Shop Now</a> -->
                </div>
            </ngx-slick-carousel>
            <span style="position:absolute"  class="banner-content">
                <h1 class="mb-3">We craft your space<br /> with style and comfort</h1>
                    <p>We are the first manufacturer of multifunctional and convertible furniture from India</p>
            </span>
        </div>
    </div>
</section>
<!-- <app-prompt-dialog></app-prompt-dialog> -->
<app-convertingmodule></app-convertingmodule>
<app-antiquemodule></app-antiquemodule>
<app-customizedmodule></app-customizedmodule>
<app-exchangemodule></app-exchangemodule>

<!-- ***** Main Banner Area End ***** -->

