/* colors */
:root {
    --main-color:#bc4639;
    --white:#fff;
    --lightPink:#f3e0dc;
    --fontBlack:#212529;
}
.top-banner
{   
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5%;
}
.banner-content {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content h1 
{
    color: var(--white);
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    font-family: poppins;
}
.banner-content p {
    color: white;
    font-size: 16px;
}


/* SLIDER */
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
.top-banner .container-fluid {
    padding: 0px;
}


