.top-banner
{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0)),url(https://images.pexels.com/photos/5002428/pexels-photo-5002428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5%;
}
.banner-content {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-content h1 
{
    color: #fff;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    font-family: poppins;
}
.banner-content p {
    color: white;
    font-size: 16px;
}


/* SLIDER */
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}


