<!-- <section>
    <div class="container">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide">
                <img src="https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
            <div ngxSlickItem class="slide">
                <img src="https://images.pexels.com/photos/11112729/pexels-photo-11112729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
            <div ngxSlickItem class="slide">
                <img src="https://images.pexels.com/photos/8135265/pexels-photo-8135265.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
            <div ngxSlickItem class="slide">
                <img src="https://images.pexels.com/photos/2343465/pexels-photo-2343465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
            <div ngxSlickItem class="slide">
                <img src="https://images.pexels.com/photos/8135110/pexels-photo-8135110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
            <div ngxSlickItem class="slide">
                <img src="https://images.pexels.com/photos/4451667/pexels-photo-4451667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
        </ngx-slick-carousel>
    </div>
</section> -->

<!-- SERVICES -->
<section id="categories" class="section dark-brown-bg">
    <div class="container">
        <div class="row ">
            <div class="section-heading text-center">
                <h3 class="title_heading mb-3 white">Products and Services</h3>
            </div>

            <div class="services-info mt-4">
                <div id="myAccordion" class="accordion">
                    <div class="accordion-item">
                        <h2 id="headingOne" class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" class="accordion-button"
                                aria-expanded="true">Multifunctional & Convertible Furniture for Home</button></h2>
                        <div id="collapseOne" data-bs-parent="#myAccordion" class="accordion-collapse collapse show">
                            <div class="card-body">
                                <p class="p-3">It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="headingTwo" class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" class="accordion-button collapsed"
                                aria-expanded="false">Traditional & Antique design furniture from India </button></h2>
                        <div id="collapseTwo" data-bs-parent="#myAccordion" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p class="p-3">It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="headingThree" class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" class="accordion-button collapsed"
                                aria-expanded="false">Chic Industrial furniture for Office spaces and Establishments
                            </button></h2>
                        <div id="collapseThree" data-bs-parent="#myAccordion" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p class="p-3">To know more about office/industrial furniture, leave you message our key
                                    account mangers contact you soon</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="headingThree" class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" class="accordion-button collapsed"
                                aria-expanded="false">Modular kitchen and wardrobes</button></h2>
                        <div id="collapseThree" data-bs-parent="#myAccordion" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p class="p-3">It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="headingThree" class="accordion-header"><button type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsefive" class="accordion-button collapsed"
                                aria-expanded="false">Customized Designs</button></h2>
                        <div id="collapsefive" data-bs-parent="#myAccordion" class="accordion-collapse collapse">
                            <div class="card-body">
                                <form class="mt-4 mb-4">
                                    <div  class="row">
                                        <div  class="col-md-4"><input 
                                                type="text" placeholder="Name" aria-label="default input example"
                                                class="form-control"></div>
                                        <div  class="col-md-4"><input 
                                                type="text" placeholder="City" aria-label="default input example"
                                                class="form-control"></div>
                                        <div  class="col-md-4"><input 
                                                type="email" placeholder="Email" aria-label="default input example"
                                                class="form-control"></div>
                                        <div  class="col-md-4 mt-3"><input 
                                                type="text" placeholder="Contact Number"
                                                aria-label="default input example" class="form-control"></div>
                                        <div  class="col-md-4 mt-3"><input 
                                                type="text" placeholder="OTP" aria-label="default input example"
                                                class="form-control"></div>
                                        <div  class="col-md-4 mt-3"><input 
                                                type="text" placeholder="Message" aria-label="default input example"
                                                class="form-control"></div>
                                        <div  class="mt-3"><a 
                                                class="btn-1 pt-3 pb-3 col-md-3 text-center">Send</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>