<!-- ***** Furniture Section Starts ***** -->
<section class="section" id="categories">
    <div class="container">
        <div class="row text-center">         
                <div class="section-heading">
                    <h3 class="title_heading mb-3">Shop by Categories</h3>
                    <p>Start shopping based on the categories you are interested in</p>
                </div>              
           <div class="categorie-box mt-5 mb-3">
                <div class="row">
                    <div class="col-md-3 box-content">
                        <a href="">
                            <img src="../assets/img/armchair.png" class="mb-2 transition-up"/>
                            <p class="orange-yellow">Sofa</p>
                        </a>                        
                    </div>
                    <div class="col-md-3 box-content">
                        <a href="">
                        <img src="../assets/img/coffee-table.png" class="mb-2 transition-up"/>
                        <p class="orange-yellow">Table</p>
                        </a>
                    </div>
                    <div class="col-md-3 box-content">
                        <a href="">
                        <img src="../assets/img/dining.png" class="mb-2 transition-up"/>
                        <p class="orange-yellow">Chair</p>
                        </a>
                    </div>
                    <div class="col-md-3 box-content">
                        <a href="">
                        <img src="../assets/img/relax (2).png" class="mb-2 transition-up"/>
                        <p class="orange-yellow">Decor</p>
                        </a>
                    </div>                    
                </div>
           </div>

        </div>
    </div>
    <!-- <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true"
        [pauseOnHover]="true" [wrap]="true" [activeId]="'secondSlide'">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/img/bannerimg.jpg" alt="">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/img/bannerimg.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
            </div>
        </ng-template>
    </ngb-carousel> -->
</section>
<!-- ***** Furniture Section Ends ***** -->