/* bg-text */
section.bg-text {
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 70px 0px;
    background-attachment: fixed;
}

.bg-expand-form{
    background: transparent;
    border: none;
    margin: auto;
}


/* IMAGE BOX */
.img-box img {
    width:60%;
}