/* You can add global styles to this file, and also import other style files */
*
{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}

body
{
    height: 100vh;
   
}
p{
    font-size: 16px;
}
a{
    text-decoration: none !important;
}

section{
    padding: 70px 0px;
}

/* button */
.btn-1 {
    font-family: Poppins;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding: 5px 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-out 0s;
    background-color: #bc4639;
    color: #fff !important;
    text-decoration: none;
    border-radius: 50px;
}

/* TEXT */
.sub-title {
    font-size: 18px !important;
    position: relative;
}
.sub-title:before {
    content: "";
    width: 5%;
    height: 1.5px;
    background: #f3e0dc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
}
.title_heading {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 500;
    color: #111111;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.title_heading:before {
    content: "";
    width: 50%;
    height: 2px;
    background: #bc4639;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

.title_heading_light {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.title_heading_light:before {
    content: "";
    width: 50%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 14%;
    transform: translateX(-30%);
    bottom: 0;
}

/* COLORS */
.orange-yellow{
   color:#bc4639;
}
.dark-brown-bg{
background-color: #5c2018;
}
.grey-blue{
    color:#3b4a6b;
}

.white{
    color:#fff;
}

.black{
    color:#000;
}
.bg-light-pink{
    background-color: #f3e0dc;
}

/* TRANSITION */
.transition-up {
    transition: 0.5s ease-in-out;
}
.transition-up:hover{
    transition: 0.5s ease-in-out;
    margin-bottom: 5% !important;
    transform:translateY(10px);
}


/* SLIDER */
.slick-prev {
    left: 40px !important;
}
.slick-next {
    right: 40px !important;
}


/* IMAGE BOX */
.img-box img {
    transition: 0.5s ease-in-out;
}
.img-box img:hover {
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
}


/* FORM */
.bg-expand-form{
    background: transparent !important;
    border: none !important;
    margin: auto;
}
section.bg-text{
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 70px 0px;
    background-attachment: fixed;
}