<!-- BACKGROUND IMG TEXT SECTION START-->
<section class="bg-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-heading">
                    <h3 class="mb-3 title_heading_light orange-yellow">Antique Designs</h3>
                    <p>Well-designed Antique furniture never goes out of fashion</p>
                    <p>We craft a wide range of antique furniture – reclaimed wood furniture and accent designs in solid
                        wood</p>
                    <a class="btn-1 pt-3 pb-3" data-bs-toggle="collapse" href="#antique" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Know More </a>
                    <div class="collapse mt-4" id="antique">
                        <div class="card card-body bg-expand-form p-0">
                            <app-enquiry [moduleName] = "pageName"></app-enquiry>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">             
                    <div _ngcontent-nwp-c107="" class="img-box text-center">
                        <img _ngcontent-nwp-c107=""
                            src="assets/img/antiquedesigns.jpeg"
                            alt="" class="img-fluid">
                    </div>                        
            </div>

        </div>

    </div>

</section>

<!-- BACKGROUND IMG TEXT SECTION END-->