<!-- BACKGROUND IMG TEXT SECTION START-->
<section class="bg-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-heading">
                    <h3 class="mb-3 title_heading_light orange-yellow">Antique Designs</h3>
                    <p>Well-designed Antique furniture never goes out of fashion</p>
                    <p>We craft a wide range of antique furniture – reclaimed wood furniture and accent designs in solid
                        wood</p>
                    <a class="btn-1 pt-3 pb-3" data-bs-toggle="collapse" href="#antique" role="button"
                        aria-expanded="false" aria-controls="collapseExample">To know more </a>
                    <div class="collapse mt-4" id="antique">
                        <div class="card card-body bg-expand-form p-0">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" placeholder="Name"
                                            aria-label="default input example">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" placeholder="City"
                                            aria-label="default input example">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="email" placeholder="Email"
                                            aria-label="default input example">
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <input class="form-control" type="text" placeholder="Contact Number"
                                            aria-label="default input example">
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <input class="form-control" type="text" placeholder="OTP"
                                            aria-label="default input example">
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <input class="form-control" type="text" placeholder="Message"
                                            aria-label="default input example">
                                    </div>

                                    <div class="mt-3">
                                        <a class="btn-1 pt-3 pb-3 col-md-3 text-center">Send</a>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">             
                    <div _ngcontent-nwp-c107="" class="img-box text-center">
                        <img _ngcontent-nwp-c107=""
                            src="assets/img/antiquedesigns.jpeg"
                            alt="">
                    </div>                        
            </div>

        </div>

    </div>

</section>

<!-- BACKGROUND IMG TEXT SECTION END-->