<!-- BACKGROUND IMG TEXT SECTION START-->
<section class="bg-text"
    style="background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0 / 48%)),url(https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h3 class="mb-3 title_heading white ">Your Ideas + Our Designs + Our Shaping</h3>
             <p class="white sub-title">Recreate your room at Furniculture India & Make it exclusively you !
             </p>
            <p class="white">
                Create a special look for your home with customized designs for kitchen, living rooms, bedrooms, bar and sectional area. <br />Our technical designer team can help you, recreate your spaces and come alive in 3D views
                </p>
                <p class="white sub-title">Self-designed Spaces</p>
                <p class="white">Be your own designer, and make choices from various customized options available at our store.</p>

            <a class="btn-1 pt-3 pb-3" data-bs-toggle="collapse" href="#recreateRoom" role="button"
                aria-expanded="false" aria-controls="collapseExample">Know More</a>
            <div class="collapse mt-4 p-3" id="recreateRoom">
                <div class="card card-body bg-expand-form col-md-6">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" placeholder="Name"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" placeholder="City"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="email" placeholder="Email"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" type="text" placeholder="Contact Number"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" type="text" placeholder="OTP"
                                    aria-label="default input example">
                            </div>
                            <div class="col-md-4 mt-3">
                                <input class="form-control" type="text" placeholder="Message"
                                    aria-label="default input example">
                            </div>

                            <div class="text-center mt-3">
                                <a class="btn-1 pt-3 pb-3 col-md-3 text-center">Send</a>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- BACKGROUND IMG TEXT SECTION END-->