<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">
                    <img src="assets/img/aboutus.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="section-heading">
                        <h3 class="title_heading_light mb-3 white">About Us</h3>
                        <p>
                            Our mission is to provide a gateway to luxury furniture and modern designs to the global
                            audience. To bring you home to comfort, you need decor with outstanding designs and
                            pieces of luxury, you can see and feel. Every detail matters – designs, finishing, stunning
                            appearance, craftsmen touches and colors, and the highest quality materials. It is a guiding
                            force on which innovation, aspirations and ongoing technology thrives. A strong customer
                            focus approach and constant quest for top class quality and service have enabled us to
                            attain social sustainability.
                        </p>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="accordion" id="myAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne">Team</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="p-3">Our team offer a range of modern and multifunctional furniture for your offices and
                                        homes, which are the exquisite blend of international designs, quality and finishing. We
                                        also develop customization in a way which maximizes the utilization of space and
                                        multi-functionality.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo">Founder</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="p-3">Meet Vikram Jangid (Founder & CEO): After 19 years of engrossing experience on
                                        Techno-commercial-function from various corporate houses, he returned to his old love:
                                        Woodworking. He has a great respect for nature and he always wanted to intertwine it
                                        with his overwhelming passion for creativity. At Furniculture, he believes in the
                                        revelatory power of illustrations and designs and its ability to elevate simple
                                        experiences. Creativity makes us happy: so, let’s make something magnificent and
                                        beautiful together. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree">Award & Recognition</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="p-3">This page is under renovation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</section>