<section  class="bg-text bg-light-pink">
    <div  class="container">
        <div  class="row align-items-center">
           
            <div  class="col-md-6">
                <div  _ngcontent-nwp-c107="" class="img-box text-center"><img
                         _ngcontent-nwp-c107=""
                        src="assets/img/exchange your old .jpeg"
                        alt="" class="img-fluid"></div>
            </div>
            <div  class="col-md-6">
                <div  class="section-heading">
                    <h3  class="mb-3 title_heading_light orange-yellow">Exchange your Furniture
                        Upto <br />50% Off | Extra 20%
                    </h3>
                    <a  data-bs-toggle="collapse" href="#discount" role="button"
                        aria-expanded="false" aria-controls="collapseExample" class="btn-1 pt-3 pb-3">Get started  </a>
                    <div  id="discount" class="collapse mt-4">
                        <div  class="card card-body bg-expand-form p-0">
                            <form >
                                <div  class="row">
                                    <div  class="col-md-4"><input 
                                            type="text" placeholder="Name" aria-label="default input example"
                                            class="form-control"></div>
                                    <div  class="col-md-4"><input 
                                            type="text" placeholder="City" aria-label="default input example"
                                            class="form-control"></div>
                                    <div  class="col-md-4"><input 
                                            type="email" placeholder="Email" aria-label="default input example"
                                            class="form-control"></div>
                                    <div  class="col-md-4 mt-3"><input 
                                            type="text" placeholder="Contact Number" aria-label="default input example"
                                            class="form-control"></div>
                                    <div  class="col-md-4 mt-3"><input 
                                            type="text" placeholder="OTP" aria-label="default input example"
                                            class="form-control"></div>
                                    <div  class="col-md-4 mt-3"><input 
                                            type="text" placeholder="Message" aria-label="default input example"
                                            class="form-control"></div>
                                    <div  class="mt-3"><a 
                                            class="btn-1 pt-3 pb-3 col-md-3 text-center">Send</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>